@import './combinations.css';

.animation-blink{
  animation: var(--animation-blink);
}

.animation-bounce{
  animation: var(--animation-bounce);
}

.animation-fade-in{
  animation: var(--animation-fade-in);
}

.animation-fade-out{
  animation: var(--animation-fade-out);
}

.animation-float{
  animation: var(--animation-float);
}

.animation-ping{
  animation: var(--animation-ping);
}

.animation-pulse{
  animation: var(--animation-pulse);
}

.animation-scale-down{
  animation: var(--animation-scale-down);
}

.animation-scale-up{
  animation: var(--animation-scale-up);
}

.animation-shake-x{
  animation: var(--animation-shake-x);
}

.animation-shake-y{
  animation: var(--animation-shake-y);
}

.animation-slide-in-down{
  animation: var(--animation-slide-in-down);
}

.animation-slide-in-left{
  animation: var(--animation-slide-in-left);
}

.animation-slide-in-right{
  animation: var(--animation-slide-in-right);
}

.animation-slide-in-up{
  animation: var(--animation-slide-in-up);
}

.animation-slide-out-down{
  animation: var(--animation-slide-out-down);
}

.animation-slide-out-left{
  animation: var(--animation-slide-out-left);
}

.animation-slide-out-right{
  animation: var(--animation-slide-out-right);
}

.animation-slide-out-up{
  animation: var(--animation-slide-out-up);
}

.animation-spin{
  animation: var(--animation-spin);
}
