/* Put design system additions here during projects so they can be evaluated and possibly integrated */

span {
  color: inherit;
}

li {
  color: inherit;
}

.underline {
  text-decoration: underline;
  text-underline-offset: 0.1em;
}

.cursor-pointer {
  cursor: pointer;
}